.main-home {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  flex-direction: column;
}

//MAIN DEL LOGIN
.main-login {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  flex-direction: column;
  margin-top: 4rem;
}

//MAIN DEL REGISTER
.main-register {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  flex-direction: column;
  margin-top: 4rem;
}
