* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    color: black;
  }

  buttons-container__link--login {
    width: 100%;
    height: 100%;
    color: white;
  }